body {
  background-color: #f8fafd;
  font-family: "Roboto", sans-serif;
  color: #2184e0;
  padding: 1rem;
}

main {
  max-width: 500px;
  margin: 0 auto;
  padding-top: 2rem;
}

.heado {
  text-align: center;
  color: #2184e0;
  background-color: rgb(229, 235, 238);
}

.title {
  text-align: center;
  color: #2184e0;
  background-color: rgb(229, 235, 238);
  font-size: 1.5rem;
  font-weight: bold;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.heado .subtitle {
  color: #2184e0;
  font-size: 1.125rem;
  color: #828282;
}

.heado .insert-number {
  color: #2184e0;
  font-size: 1rem;
  text-align: left;
  padding-left: 15%;
}

.heado .input-box {
  color: #2184e0;
  width: 70%;
  border-style: solid;
  border-width: 1px;
  border-color: #2184e0;
  margin-bottom: 1rem;
}

.calculate {
  width: 20%;
  color: #2184e0;
  border-style: solid;
  border-width: 1px;
  border-color: #2184e0;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}

.heado .result {
  width: 70%;
  color: #2184e0;
  border-style: solid;
  border-width: 1px;
  border-color: #2184e0;
  margin-bottom: 5rem;
}

.heado .campo {
  color: #2184e0;
  width: 100%;
  font-size: 1rem;
  text-align: left;
  padding-bottom: 3rem;
  margin-left: 15%;
}

.heado .campo input {
  color: #2184e0;
  width: 70%;
  border: 1px solid #2596be;
  height: 30px;
  padding-left: 15%;
}

.heado .campo input:focus {
  outline: none;
}
.heado .campo select {
  width: 70%;
  border: 1px solid #2596be;
  height: 30px;
  background-color: #fff;
}
.heado .campo select:focus {
  outline: none;
}

.heado .campo .resultado {
  width: 70%;
  text-align: center;
  background-color: #fff;
  border: 1px solid #2596be;
  display: block;
}
